/******************************************************
 * layout/header
 *
 * HTML structure:
 * <header class='site-header'>
 *   <div class='site-header-main'>
 *      <div class='site-header-main-content'>
 *        <div class='site-logo'></div>
 *        <div class='minicart'></div>
 *      </div>
 *   </div>
 * </header>
 *******************************************************/

$site_header_height: em(60px);

.site-header-main{
  @extend %dark_texture_background;
}

.site-header-main-content{
  @extend %centered_content;
  height: $site_header_height;
  position: relative;
}

.site-header-main .site-logo{
  @extend %image_replacement;
  margin: 0;
  font-size: 16px;
  width: em(162px);
  height: em(21px);
  // background: sprite($sprite_map, logo);
  background: url(../assets/images/logo.svg) no-repeat;
  background-size: cover;
  position:absolute;
  left:0;
  top:50%;
  margin-top: -11px;
}

.site-header .minicart{
  position: absolute;
  right:0;
  top:0;
  height: $site_header_height;
}

/******************************************************
 * Media Queries
 *******************************************************/
@media (max-width: 500px){
  .site-header-main{
    padding-top: em(24px);
  }

  .site-header-main .site-logo{
    position:static;
    margin-top: 0;
    font-size: em(16px);
    margin-bottom: em(16px);
  }

  .site-header .minicart{
    position: static;
  }

  .site-header-main-content{
    height: auto;
    width: 100%;
  }
}

// medida padrao de um browser é 96dpi * 1.5 = 144dpi
// @media  (-webkit-min-device-pixel-ratio: 1.5),
//        (min-resolution: 144dpi){
//   .site-header-main .site-logo{
//     background: url(../assets/images/logo@2x.png);
//     background-size: 162px 22px;
//   }
// }

