/*************************************************************************************
* layout/main
**************************************************************************************/

body{
  background: inline-image("inline/straws.png") repeat;
}

.site-main-content{
  width: 100%; /* 1000px / 1000px */
}

.site-side-content{
  width: percentage_from_columns(3);/* 235px / 1000px */
  float: left;
}

.site-side-content + .site-main-content{
  width: percentage_from_columns(9); /* 745px / 1000px */
  float: right;
}

.site-content-block{
  @extend %centered_content;
  @extend %clearfix;
}
