/*************************************************************************************
* modules/categories_links_list
**************************************************************************************/

.categories-links-category:before{
  content:"";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: em(10px, 12px);
  background-image: sprite-url($sprite-map);
  background-repeat: no-repeat;
}

$links: ruby, js, html, design, devops;

@each $link in $links{
  .categories-links-list .#{$link}:before{
    background-position: sprite-position($sprite-map, $link);
  }
}


@media (max-width: 1024px){
  .categories-links-category:before{
    margin-right: em(4px, 12px);
  }
}
