/******************************************************
 * modules/minicart
 *******************************************************/
.minicart{
  width: em(265px);
  // width: width_from_columns(3);
  min-height: em(60px);
}

.minicart-header{
  height: em(60px);
  position: relative;
  color: #fff;
  cursor: pointer;

  &:before{
    content:"";
    display:block;
    width: 24px;
    height: 20px;
    background: sprite($sprite-map, white_cart) no-repeat;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: em(-10px);
  }
}

.minicart .product-quantity,
.minicart .minicart-subtotal{
  @include box-sizing(border-box);
  font-size: em(14px);
  line-height: em(60px,14px);
  height: em(60px,14px);
  display: block;
  position: absolute;
  top: 0;
}

.minicart .product-quantity{
  width: em(135px, 14px);
  font-weight: normal;
  padding-left: 50px;
  left: 0;
  white-space: nowrap;
}

.minicart .minicart-subtotal{
  width: 100px;
  text-align: right;
  right: 0;
  padding-right: em(12px,14px);
}

.minicart-content{
  display: none;
  background: #fff;
}

/*************************************************************************************
* On hover
**************************************************************************************/

.minicart:hover{
  box-shadow: 0 0 2px 0 rgba(#000, .3);
  background: #fff;
}

.minicart:hover .minicart-header{
  color: $TEXT_COLOR;
}

.minicart:hover .minicart-header:before{
  background: sprite($sprite-map, gray_cart) no-repeat;
}

.minicart:hover .minicart-content{
  display:block;
}

/*********************************************************************
*  =Finalize button
*********************************************************************/

.minicart-finalize {
  padding: em(12px);
}

.minicart-finalize .finalize-purchase-bt {
  @extend %large_bt;
}

/******************************************************
 * Media Queries
 *******************************************************/
@media (max-width: 500px){
  .minicart{
    width: 100%;
    background: #cecece;
  }

  .minicart .minicart-header{
    color: $TEXT_COLOR;
  }

  .minicart .minicart-header:before{
    background: sprite($sprite-map, gray_cart) no-repeat;
  }

  .site-header .minicart{
    height: auto;
  }
}
