/*************************************************************************************
* modules/products_list
**************************************************************************************/

.product_video{
  width: 100%;
  margin-bottom: em(24px);
}

.products-list{
  overflow: hidden;
}

.products-list-product{
  width: percentage_from_columns(3, 9);
  float: left;
  margin-right: percentage_from_gutter(9);
  margin-bottom: em(24px);

  &:nth-of-type(4n+4){
    margin-right: 0;
  }

  .site-side-content + .site-main-content & {
    &:nth-of-type(3n+3) {
      margin-right: 0;
    }

    &:nth-of-type(4n+4) {
      margin-right: percentage_from_gutter(9);
    }
  }
}

.products-list .product-thumb{
  margin: 0;
}

.products-list .product-thumb img{
  max-width: 100%;
  display: block;
}

.products-list .product-data{
  @include box-sizing(border-box);
  height: em(180px);
  background: #fff;
  padding: em(16px);
}

.products-list .product-title{
  font-size: em(16px);
  line-height: em(24px);
  max-height: em(72px);
  overflow: hidden;
  font-weight: normal;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.products-list .product-author{
  font-size: em(11px);
  color: #ccc;
  text-transform: uppercase;
  margin-top: em(4px, 11px);
}

.products-list .product-price{
  margin-bottom: 0;
}

.products-list .product-price small{
  text-transform: lowercase;
  font-size: em(12px);
  line-height: em(18px, 12px);
  display: block;
}

.products-list .product-price .price{
  font-size: em(20px);
  line-height: em(24px,20px);
  font-weight: bold;
  display: block;
}

.products-list .product-installments{
  font-size: em(12px);
  margin-bottom: 0;
  margin-top: 0;

}


@media (min-width: width_from_columns(15)){
  .products-list-product{
    width: percentage_from_columns(3, 12); /* 275px / 1000px */
    margin-right: percentage_from_gutter(12);

    .site-side-content + .site-main-content & {
      &:nth-of-type(3n+3) {
        margin-right: percentage_from_gutter(12);
      }

      &:nth-of-type(4n+4) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 767px){
  .products-list-product{
      width: percentage_from_columns(6, 12); /* 275px / 1000px */
      margin-right: percentage_from_gutter(12);

      .site-side-content + .site-main-content & {
        &:nth-of-type(3n+3) {
          margin-right: percentage_from_gutter(12);
        }
        &:nth-of-type(2n+2) {
          margin-right: 0;
        }
      }
    }
}

@media (max-width: 500px){
  .products-list-product{
    width: 100%;
    margin-right: 0;

    .site-side-content + .site-main-content & {
      &:nth-of-type(3n+3) {
        margin-right: 0;
      }

      &:nth-of-type(2n+2) {
        margin-right: 0;
      }

      &:nth-of-type(4n+4) {
        margin-right: 0;
      }
    }
  }
}
