/*************************************************************************************
* modules/simple_products_list
**************************************************************************************/

.simple-products-list{
  border-top: 1px solid $GRAY_BORDER_COLOR;
  margin: 0;
  padding: 0;
  list-style: outside none;
}

.simple-products-list .product{
  @include box-sizing(border-box);
  height: 70px;
  margin-bottom: 0;
  position: relative;
  padding: em(12px);
  border-bottom: 1px solid $GRAY_BORDER_COLOR;
}

.simple-products-list .product-thumb{
  position: absolute;
  left: em(12px);
  top: em(12px);
  margin: 0;

  img{ display: block; }
}

.simple-products-list .product-data{
  padding-left: 60px;
}

.simple-products-list .product-title{
  @extend %ellipsis;
  font-size: em(12px);
  line-height: em(18px, 12px);
  height: em(18px, 12px);
  font-weight: normal;
  padding: 0;
  margin: -2px 0 0;

  a{
    @extend %no_underline;
    color: $TEXT_COLOR;
  }
}

.simple-products-list .product-author{
  font-size: em(10px);
  text-transform: uppercase;
  color: #999;
  margin-bottom: em(4px,10px);
  margin-top: 0;
}

.simple-products-list .product-price{
  font-size: em(12px);
  line-height: em(18px, 12px);
  margin:0;
}

.simple-products-list .product-remove {
  font-size: em(11px);
  position: absolute;
  right: em(12px, 11px);
  bottom: em(4px, 11px);
  margin: 0;

  a {
    color: $TEXT_COLOR;
  }
}
