/******************************************************
 * base/variables
 *******************************************************/
/******************************************************
 * Grid and Typography
 *******************************************************/
/******************************************************
 * Colors
 *******************************************************/
/******************************************************
 * base/functions
 *******************************************************/
/******************************************************
 * base/mixins
 *******************************************************/
/******************************************************
* Colorful links
*
* Provide a set of colors for normal, :visited, :hover and :active
* links based on a base color. Should be used like this:
*
* .my-class a {
*   @include colorful-links(#abcdef)
* }
*******************************************************/
/******************************************************
 * base/sprites
 *******************************************************/
/******************************************************
 * base/grid
 *******************************************************/
/******************************************************
 * base/helpers
 *******************************************************/
/******************************************************
 * Clear fix
 *******************************************************/
/* line 9, ../assets/stylesheets/base/_helpers.scss */
.site-content-block {
  zoom: 1;
}
/* line 10, ../assets/stylesheets/base/_helpers.scss */
.site-content-block:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

/******************************************************
 * Image replacement
 *******************************************************/
/* line 25, ../assets/stylesheets/base/_helpers.scss */
.site-header-main .site-logo {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/******************************************************
 * Centered Content
 *******************************************************/
/* line 34, ../assets/stylesheets/base/_helpers.scss */
.site-header-main-content, .site-content-block, .site-navigation-content, .section-header-content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/******************************************************
 * No underline
 *******************************************************/
/* line 43, ../assets/stylesheets/base/_helpers.scss */
.links-list-link a, .simple-products-list .product-title a {
  text-decoration: none;
}
/* line 46, ../assets/stylesheets/base/_helpers.scss */
.links-list-link a:hover, .simple-products-list .product-title a:hover {
  text-decoration: underline;
}

/******************************************************
 * Dark texture background
 *******************************************************/
/* line 54, ../assets/stylesheets/base/_helpers.scss */
.site-footer, .site-header-main, .links-list-title {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABhQTFRFPj4+OTk5NDQ0NTU1Ojo6Pz8/ODg4NjY2cf01EwAAADlJREFUeNp0zUsKACAMQ8GkH3v/G2upC7NwM/AgELgD5AgJs8NVA1irR+MbET0aNciqzFEDv6ctwABULAExzDqmrQAAAABJRU5ErkJggg==') repeat;
}

/******************************************************
 * Ellipsis
 *******************************************************/
/* line 61, ../assets/stylesheets/base/_helpers.scss */
.simple-products-list .product-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/******************************************************
 * core/normalize
 *******************************************************/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 12, ../assets/stylesheets/core/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 22, ../assets/stylesheets/core/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 46, ../assets/stylesheets/core/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 58, ../assets/stylesheets/core/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 68, ../assets/stylesheets/core/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 79, ../assets/stylesheets/core/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 90, ../assets/stylesheets/core/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 99, ../assets/stylesheets/core/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, ../assets/stylesheets/core/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 119, ../assets/stylesheets/core/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, ../assets/stylesheets/core/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, ../assets/stylesheets/core/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, ../assets/stylesheets/core/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, ../assets/stylesheets/core/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 163, ../assets/stylesheets/core/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, ../assets/stylesheets/core/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, ../assets/stylesheets/core/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, ../assets/stylesheets/core/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, ../assets/stylesheets/core/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, ../assets/stylesheets/core/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, ../assets/stylesheets/core/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 222, ../assets/stylesheets/core/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 233, ../assets/stylesheets/core/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 257, ../assets/stylesheets/core/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 267, ../assets/stylesheets/core/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 279, ../assets/stylesheets/core/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 294, ../assets/stylesheets/core/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 304, ../assets/stylesheets/core/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 313, ../assets/stylesheets/core/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 323, ../assets/stylesheets/core/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 336, ../assets/stylesheets/core/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 348, ../assets/stylesheets/core/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../assets/stylesheets/core/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 372, ../assets/stylesheets/core/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 380, ../assets/stylesheets/core/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 391, ../assets/stylesheets/core/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 400, ../assets/stylesheets/core/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 409, ../assets/stylesheets/core/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 420, ../assets/stylesheets/core/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 426, ../assets/stylesheets/core/_normalize.scss */
td,
th {
  padding: 0;
}

/******************************************************
 * core/basic
 *******************************************************/
/* line 6, ../assets/stylesheets/core/_basic.scss */
body,
select {
  color: #555555;
}

/* line 10, ../assets/stylesheets/core/_basic.scss */
a {
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
  color: #37b2c0;
  text-decoration: underline;
}
/* line 19, ../assets/stylesheets/base/_mixins.scss */
a:visited {
  color: #37b2c0;
}
/* line 20, ../assets/stylesheets/base/_mixins.scss */
a:hover {
  color: #5ac4d0;
}
/* line 21, ../assets/stylesheets/base/_mixins.scss */
a:active {
  color: #31a0ac;
}
/* line 14, ../assets/stylesheets/core/_basic.scss */
a:focus {
  outline: thin dotted;
}

/* line 21, ../assets/stylesheets/core/_basic.scss */
nav ul,
nav ol {
  margin: 0;
  padding: 0;
  list-style: outside none;
}

/*********************************************************************
*  core/typography
*********************************************************************/
/* line 5, ../assets/stylesheets/core/_typography.scss */
body {
  font: normal normal normal 100%/1.5 sans-serif;
}

/*********************************************************************
*  =Headers
*********************************************************************/
/* line 13, ../assets/stylesheets/core/_typography.scss */
h1 {
  font-size: 3.625em;
  font-weight: normal;
  line-height: 1.08621em;
  margin-bottom: 0.55172em;
}

/* line 20, ../assets/stylesheets/core/_typography.scss */
h2 {
  font-size: 2.125em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 0.76471em;
  padding-top: 0.47059em;
}

/* line 28, ../assets/stylesheets/core/_typography.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.18182em;
  margin-bottom: 1.18182em;
  padding-top: 0.36364em;
  font-weight: normal;
}

/* line 36, ../assets/stylesheets/core/_typography.scss */
h4 {
  font-size: 1em;
  line-height: 1.625em;
  margin-bottom: 1.625em;
  padding-top: 0.5em;
}

/*********************************************************************
*  core/forms
*********************************************************************/
/* line 9, ../assets/stylesheets/core/_forms.scss */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  border: 1px solid #acaba7;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 #c9c9c9 inset;
  color: #555555;
  font-size: 100%;
  padding: 0.38em;
  width: 100%;
  /* default behavior is extending to full area, overwrite as needed */
  font-family: sans-serif;
  outline: 0;
}

/* line 23, ../assets/stylesheets/core/_forms.scss */
::-webkit-input-placeholder {
  font-style: normal;
  color: #7b7b7b;
}

/* line 24, ../assets/stylesheets/core/_forms.scss */
input:-moz-placeholder {
  font-style: normal;
  color: #7b7b7b;
}

/*********************************************************************
*  core/buttons
*********************************************************************/
/* line 5, ../assets/stylesheets/core/_buttons.scss */
.minicart-finalize .finalize-purchase-bt {
  font-size: 1em;
  height: 2.25em;
  width: 100%;
  max-width: 18.75em;
  padding: 0;
  line-height: 2.25em;
}

/* line 14, ../assets/stylesheets/core/_buttons.scss */
.primary-bt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  background: #ae0000;
  color: #fff;
  text-transform: lowercase;
  box-shadow: 0 2px 0 #7b0000;
  border-radius: 0.1875em;
  text-decoration: none;
  text-align: center;
  padding: 1em;
}
/* line 28, ../assets/stylesheets/core/_buttons.scss */
.primary-bt:hover, .primary-bt:active, .primary-bt:visited {
  color: #fff;
}

/*************************************************************************************
* layout/footer
**************************************************************************************/
/* line 5, ../assets/stylesheets/layout/_footer.scss */
.site-footer {
  text-align: center;
  color: #fff;
}
/* line 10, ../assets/stylesheets/layout/_footer.scss */
.site-footer a {
  color: #fff;
}

/* line 15, ../assets/stylesheets/layout/_footer.scss */
.site-footer p {
  font-size: 12px;
  line-height: 24px;
  padding: 32px 0;
  margin: 0;
}

/******************************************************
 * layout/header
 *
 * HTML structure:
 * <header class='site-header'>
 *   <div class='site-header-main'>
 *      <div class='site-header-main-content'>
 *        <div class='site-logo'></div>
 *        <div class='minicart'></div>
 *      </div>
 *   </div>
 * </header>
 *******************************************************/
/* line 21, ../assets/stylesheets/layout/_header.scss */
.site-header-main-content {
  height: 60px;
  position: relative;
}

/* line 27, ../assets/stylesheets/layout/_header.scss */
.site-header-main .site-logo {
  margin: 0;
  width: 162px;
  height: 22px;
  background: url('../assets/images/sprite-se3d716b71f.png') 0 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}

/* line 39, ../assets/stylesheets/layout/_header.scss */
.site-header .minicart {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
}

/*************************************************************************************
* layout/main
**************************************************************************************/
/* line 5, ../assets/stylesheets/layout/_main.scss */
body {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAkUlEQVR42pWSQQrAIAwE8/+/evKiB7FsS5fAhkQPqTF0BmW1tdbuve8xBta3Wmsb838W/YMec8MmkaQwVsOnkEQw90aokDiYUgpOJag5J0qucCIRAcp+0+VJ0GP2neBC4mEUYzyRCIyZf0iZJIIlRlQoIaxiSUGuk8DyDiSmCsbeHCyCCvYxxjnXscpDoqSA2T8r6+HomAUULQAAAABJRU5ErkJggg==') repeat;
}

/* line 9, ../assets/stylesheets/layout/_main.scss */
.site-main-content {
  width: 1000px;
}

/* line 13, ../assets/stylesheets/layout/_main.scss */
.site-side-content {
  width: 235px;
  float: left;
}

/* line 18, ../assets/stylesheets/layout/_main.scss */
.site-side-content + .site-main-content {
  width: 745px;
  float: right;
}

/******************************************************
* layout/site_navigation
*
* HTML structure:
*
* <nav class='site-navigation'>
*   <div class='site-navigation-content'>
*     <ul class='site-navigation-categories'>
*       <li class='site-navigation-category js'>
*         <a href='#'></a>
*       </li>
*     </ul>
*   </div>
* </nav>
 *******************************************************/
/* line 23, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation {
  background: #96958f;
}

/* line 27, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-content {
  height: 42px;
}

/* line 32, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories {
  margin-left: -15px;
}

/* line 36, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-category {
  float: left;
}

/* line 40, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-category a {
  display: inline-block;
  line-height: 42px;
  font-weight: bold;
  color: #fff;
  padding: 0 15px;
  text-decoration: none;
}

/* line 18, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories .ruby a:hover {
  background-color: #9f0000;
}

/* line 18, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories .js a:hover {
  background-color: #ecd300;
}

/* line 18, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories .html a:hover {
  background-color: #f48400;
}

/* line 18, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories .design a:hover {
  background-color: #006fe1;
}

/* line 18, ../assets/stylesheets/layout/_site_navigation.scss */
.site-navigation-categories .devops a:hover {
  background-color: #505050;
}

/*************************************************************************************
* ui/links_list
*
* HTML structure:
*
* <div class="links-list">
*   <h3 class="links-list-title">Os mais vendidos</h3>
*
*   <ul>
*     <li class="links-list-link">
*       <a href="#">Documentando projetos com RDoc</a>
*     </li>
*     <li class="links-list-link">
*       <a href="#">Ruby Metaprogramming</a>
*     </li>
*   </ul>
* </div>
**************************************************************************************/
/* line 20, ../assets/stylesheets/ui/_links_list.scss */
.links-list {
  background: #fff;
  margin-bottom: 24px;
}

/* line 25, ../assets/stylesheets/ui/_links_list.scss */
.links-list-title {
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  padding: 0 14px;
  margin: 0;
}

/* line 35, ../assets/stylesheets/ui/_links_list.scss */
.links-list ul,
.links-list ol {
  margin: 0;
  padding: 0;
  list-style: outside none;
}

/* line 41, ../assets/stylesheets/ui/_links_list.scss */
.links-list-link {
  font-size: 12px;
  display: table;
  height: 42px;
  width: 100%;
}

/* line 48, ../assets/stylesheets/ui/_links_list.scss */
.links-list-link a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  padding: 0 14px;
  color: #555555;
  display: table-cell;
  vertical-align: middle;
}
/* line 57, ../assets/stylesheets/ui/_links_list.scss */
.links-list-link a:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background: #f2f2f2;
}

/* line 63, ../assets/stylesheets/ui/_links_list.scss */
.links-list-link:first-child a {
  border-top: none;
}

/*************************************************************************************
* modules/categories_links_list
**************************************************************************************/
/* line 5, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-category:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background-image: url('../assets/images/sprite-se3d716b71f.png');
  background-repeat: no-repeat;
}

/* line 19, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-list .ruby:before {
  background-position: 0 -260px;
}

/* line 19, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-list .js:before {
  background-position: 0 -76px;
}

/* line 19, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-list .html:before {
  background-position: 0 -40px;
}

/* line 19, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-list .design:before {
  background-position: 0 -188px;
}

/* line 19, ../assets/stylesheets/modules/_categories_links_list.scss */
.categories-links-list .devops:before {
  background-position: 0 -224px;
}

/******************************************************
 * modules/minicart
 *******************************************************/
/* line 4, ../assets/stylesheets/modules/_minicart.scss */
.minicart {
  width: 235px;
  min-height: 60px;
}

/* line 9, ../assets/stylesheets/modules/_minicart.scss */
.minicart-header {
  height: 60px;
  position: relative;
  color: #fff;
  cursor: pointer;
}
/* line 15, ../assets/stylesheets/modules/_minicart.scss */
.minicart-header:before {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url('../assets/images/sprite-se3d716b71f.png') 0 -150px no-repeat;
  position: absolute;
  left: 12px;
  top: 50%;
  margin-top: -10px;
}

/* line 29, ../assets/stylesheets/modules/_minicart.scss */
.minicart .product-quantity,
.minicart .minicart-subtotal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
}

/* line 39, ../assets/stylesheets/modules/_minicart.scss */
.minicart .product-quantity {
  width: 135px;
  font-weight: normal;
  padding-left: 50px;
  left: 0;
}

/* line 46, ../assets/stylesheets/modules/_minicart.scss */
.minicart .minicart-subtotal {
  width: 100px;
  text-align: right;
  right: 0;
  padding-right: 12px;
}

/* line 53, ../assets/stylesheets/modules/_minicart.scss */
.minicart-content {
  display: none;
  background: #fff;
}

/*************************************************************************************
* On hover
**************************************************************************************/
/* line 62, ../assets/stylesheets/modules/_minicart.scss */
.minicart:hover {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
}

/* line 67, ../assets/stylesheets/modules/_minicart.scss */
.minicart:hover .minicart-header {
  color: #555555;
}

/* line 71, ../assets/stylesheets/modules/_minicart.scss */
.minicart:hover .minicart-header:before {
  background: url('../assets/images/sprite-se3d716b71f.png') 0 -112px no-repeat;
}

/* line 75, ../assets/stylesheets/modules/_minicart.scss */
.minicart:hover .minicart-content {
  display: block;
}

/*********************************************************************
*  =Finalize button
*********************************************************************/
/* line 83, ../assets/stylesheets/modules/_minicart.scss */
.minicart-finalize {
  padding: 12px;
}

/*************************************************************************************
* modules/products_list
**************************************************************************************/
/* line 5, ../assets/stylesheets/modules/_products_list.scss */
.products-list-product {
  width: 235px;
  float: left;
  margin-right: 20px;
  margin-bottom: 24px;
}
/* line 11, ../assets/stylesheets/modules/_products_list.scss */
.products-list-product:nth-of-type(4n+4) {
  margin-right: 0;
}
/* line 16, ../assets/stylesheets/modules/_products_list.scss */
.site-side-content + .site-main-content .products-list-product:nth-of-type(3n+3) {
  margin-right: 0;
}
/* line 20, ../assets/stylesheets/modules/_products_list.scss */
.site-side-content + .site-main-content .products-list-product:nth-of-type(4n+4) {
  margin-right: 20px;
}

/* line 26, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-thumb {
  margin: 0;
}

/* line 30, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-thumb img {
  display: block;
}

/* line 34, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-data {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 180px;
  background: #fff;
  padding: 16px;
}

/* line 41, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 50, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-author {
  font-size: 11px;
  color: #ccc;
  text-transform: uppercase;
  margin-top: 4px;
}

/* line 57, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-price {
  margin-bottom: 0;
}

/* line 61, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-price small {
  text-transform: lowercase;
  font-size: 12px;
  line-height: 18px;
  display: block;
}

/* line 68, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-price .price {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  display: block;
}

/* line 75, ../assets/stylesheets/modules/_products_list.scss */
.products-list .product-installments {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 0;
}

/*************************************************************************************
* modules/section_header
**************************************************************************************/
/* line 5, ../assets/stylesheets/modules/_section_header.scss */
.section-header {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* line 13, ../assets/stylesheets/modules/_section_header.scss */
.section-header-title {
  margin-top: 0;
  padding-top: 0;
  font-size: 42px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 24px;
}

/* line 22, ../assets/stylesheets/modules/_section_header.scss */
.section-header-subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  width: 745px;
}

/*************************************************************************************
* Themes
**************************************************************************************/
/* line 39, ../assets/stylesheets/modules/_section_header.scss */
.category-page .section-header {
  margin-bottom: 24px;
}

/* line 43, ../assets/stylesheets/modules/_section_header.scss */
.category-page-ruby .section-header {
  background-color: #9f0000;
  color: white;
}

/* line 47, ../assets/stylesheets/modules/_section_header.scss */
.category-page-js .section-header {
  background-color: #ecd300;
  color: #333333;
}

/*************************************************************************************
* modules/simple_products_list
**************************************************************************************/
/* line 5, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list {
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 0;
  list-style: outside none;
}

/* line 12, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  margin-bottom: 0;
  position: relative;
  padding: 12px;
  border-bottom: 1px solid #cccccc;
}

/* line 21, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-thumb {
  position: absolute;
  left: 12px;
  top: 12px;
  margin: 0;
}
/* line 27, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-thumb img {
  display: block;
}

/* line 32, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-data {
  padding-left: 60px;
}

/* line 36, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-title {
  font-size: 12px;
  line-height: 18px;
  height: 18px;
  font-weight: normal;
  padding: 0;
  margin: -2px 0 0;
}
/* line 45, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-title a {
  color: #555555;
}

/* line 51, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-author {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 4px;
  margin-top: 0;
}

/* line 59, ../assets/stylesheets/modules/_simple_products_list.scss */
.simple-products-list .product-price {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
